[submodule "backend"]
	path = backend
	url = https://github.com/kyubey-kub/web-carshowroom-Backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/kyubey-kub/web-carshowroom-Frontend.git
